@page
@model IndexModel
@using razorweb.models
@{
    ViewData["Title"] = "Home page";

    var posts = (List<Article>)ViewData["posts"]!;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<ol>
    @foreach (var item in posts)
    {
        <li>@item.Title</li>
    }
</ol>